@charset "utf-8";

/**
 * Basic
 */
.krslider-wrapper {
	position: relative;
}
.krslider-inner {
	position: relative;
	overflow: hidden;
	z-index: 0;
}
.krslider-inner > *,
.krslider-inner > * > img {
	display: block;
	max-width: 100%;
	vertical-align: top;
}
.krslider-inner > * {
	display: none;
	z-index: 1;
	left: 0;
	top: 0;
}
.krslider-inner > *:first-child,
.krslider-inner > *:first-child > img {
	display: block;
}
.krslider-inner iframe {
	height: 100%;
	width: 100%;
}
.krslider-wrapper,
.krslider-inner,
.krslider-nav,
.krslider-prev-next-nav {
	display: block !important;
}

/**
 * krslider-caption-wrapper
 */
.krslider-caption-wrapper {
	top: auto; /* For when in the inner */
	left: auto; /* For when in the inner */
	display: none;
	z-index: 1;
}

/**
 * krslider-nav,
 * krslider-prev-next-nav
 */
.krslider-nav,
.krslider-prev-next-nav {
	top: auto; /* For when in the inner */
	left: auto; /* For when in the inner */
	z-index: 1;
}
.krslider-nav ul li,
.krslider-prev-next-nav ul li {
	cursor: pointer;
}
.krslider-nav img,
.krslider-prev-next-nav img {
	display: inline !important;
}

/**
 * .full-size
 */
.full-size .krslider-inner > *,
.full-size .krslider-inner > * > img {
	width: 100%;
}

/**
 * Classes
 */
.krslider > * {
	display: none;
}
.krslider > *:first-child,
.krslider > *:first-child > img {
	display: block;
	max-width: 100%;
}
.krslider-thumbnail,
.krslider-caption {
	display: none;
}